/.BotGenerator.java._trace
/.BotGenerator.xtendbin
/.DialogflowGenerator.java._trace
/.DialogflowGenerator.xtendbin
/.PandorabotsGenerator.java._trace
/.PandorabotsGenerator.xtendbin
/.RasaGenerator.java._trace
/.RasaGenerator.xtendbin
/BotGenerator.java
/DialogflowGenerator.java
/PandorabotsGenerator.java
/RasaGenerator.java
